* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 90px repeat(2, minmax(200px, 1fr));
}
#breed__selector {
  grid-column: 1/2;
  padding: 10px;
  font-size: 1rem;
  border: none;
  outline: none;
  border-bottom: 3px solid rgba(0, 0, 0, 0.685);
}
.image__container {
  grid-column: 2/3;
  grid-row: 2/4;
  gap: 20px;
}
.image__container img {
  width: 100%;
  border-radius: 50px;
}
@media (max-width: 800px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 70px 500px;
  }
  .image__container {
    grid-column: 1/-1;
    grid-row: 2/-1;
    display: grid;
    justify-items: center;
    align-content: center;
    padding: 10px;
  }
  .image__container img {
    height: 100%;
    border-radius: 50px;
  }
}
