* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Consolas, 'Courier New', Courier, monospace;
}

.form__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.error__message {
  color: red;
  font-size: 20px;
}

#search {
  margin: 20px 10px;
  padding: 10px;
  outline: none;
  border: none;
  border-bottom: 1px solid blue;
  font-size: 20px;
  font-style: italic;
}

#search:focus {
  border-color: red;
}

button {
  margin: 20px 10px;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid blue;
  color: blue;
  background-color: white;
  font-size: 20px;
  transition: font-size 0.2s linear;
  font-style: italic;
}
button:hover {
  color: red;
  border-color: red;
}

table {
  margin-top: 20px;
  border-collapse: collapse;
  letter-spacing: 1px;
  width: 100%;
}

.display__head tr {
  background-color: rgb(86, 139, 218);
  color: white;
  display: grid;
  grid-template-columns: repeat(3, minmax(70px, 1fr)) 3fr;
}

.display__body tr {
  display: grid;
  grid-template-columns: repeat(3, minmax(70px, 1fr)) 3fr;
}
td,
th {
  border: 1px solid black;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.display__body tr:nth-child(even) {
  background-color: rgb(224, 234, 238);
}
.display__body tr:nth-child(odd) {
  background-color: rgb(189, 210, 241);
}
@media (max-width: 700px) {
  .display__body tr {
    font-size: 0.7rem;
  }
}
