* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.form__wrapper {
  height: 100vh;
  display: flex;
  margin: 10px 10px 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: sticky;
  top: 0px;
}
.form__title {
  font-size: 7rem;
  font-family: 'Courier New', Courier, monospace;
  background: linear-gradient(
    to right,
    #4285f4 0%,
    #4285f4 18%,
    #ea4335 18%,
    #ea4335 50%,
    #fbbc05 50%,
    #fbbc05 65%,
    #34a853 70%,
    #34a853 83%,
    #ea4335 80%,
    #ea4335 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 100%;
  margin: 20px;
}
#searchInput {
  width: 500px;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 20px;
  font-style: italic;
  letter-spacing: 3px;
  color: grey;
  padding: 10px 55px 15px 30px;
  border: 1px solid transparent;
  box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.411),
    -1px -1px 1px rgba(128, 128, 128, 0.164);
  outline: none;
  border-radius: 30px;
  caret-color: red;
  z-index: -1;
}
#submitBtn {
  margin-left: -50px;
  height: 30px;
  width: 30px;
  line-height: 30px;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: transparent;
}
#submitBtn svg {
  width: 14px;
}

#submitBtn:hover svg {
  transform: scale(1.2);
  line-height: 70px;
}

.loading {
  height: 5px;
}
.start-loading {
  background: linear-gradient(
    to right,
    #4285f4 0%,
    #4285f4 18%,
    #ea4335 18%,
    #ea4335 45%,
    #fbbc05 45%,
    #fbbc05 65%,
    #34a853 65%,
    #34a853 83%,
    #ea4335 80%,
    #ea4335 100%
  );
  animation: loading 5s infinite;
}

@keyframes loading {
  0% {
    background-position: 0px 0px;
  }
  50% {
    background-position: 2000px 2000px;
  }
}

.pagination {
  display: flex;
  justify-content: space-around;
}
.pagination > * {
  cursor: pointer;
}
.active {
  color: blue;
}

@media (max-width: 500px) {
  .form__title {
    font-size: 1.6rem;
  }
  #searchInput {
    width: 200px;
  }
}
@media (max-width: 900px) and (min-width: 500px) {
  .form__title {
    font-size: 1.6rem;
  }
  #searchInput {
    width: 400px;
  }
}

@media (min-width: 900px) {
  .form__title {
    font-size: 3rem;
  }
  #searchInput {
    width: 500px;
  }
}
